[package]
name = "sic_image_engine"
version = "0.10.0"
authors = ["Martijn Gribnau <garm@ilumeo.com>"]
description = "Component of the sic cli: provides abstractions for (the application of) image operations."
edition = "2018"
license-file = "../../LICENSE"
repository = "https://github.com/foresterre/sic"

[dependencies]
sic_core = { path = "../sic_core", version = "0.10" }

strum = "0.17.0"
strum_macros = "0.16.0"

[dev-dependencies]
sic_testing = { path = "../sic_testing" }

[features]
output-test-images = []