[package]
name = "sic_image_engine"
version = "0.10.0"
authors = ["Martijn Gribnau <garm@ilumeo.com>"]
description = "Component of the sic cli: provides abstractions for (the application of) image operations."
edition = "2018"
license-file = "../../LICENSE"
repository = "https://github.com/foresterre/sic"

[dependencies]
sic_core = { path = "../sic_core", version = "0.10" }
sic_io = { path = "../sic_io", version = "0.10" }

strum = "0.18.0"
strum_macros = "0.18.0"
thiserror = "1.0.15"

[dev-dependencies]
sic_testing = { path = "../sic_testing", version = "0.10" }

[features]
output-test-images = []